/*Esta cosa para anotaciones en css*/


/*Esta cosa para anotaciones en css*/

p {
    color:black;
    font-size: 1.2em;
}
h1 {
    color:rgba(193, 182, 24, 0.765);
}
@font-face {
    font-family: myFont;
    src: url();
}
body{
    margin: 20px 10px 5px 0px; /*Esto es para controlar el margen y esas cosas*/
}
p {
    color:rgb(184, 32, 32);
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    font-family: verdana, Arial, Helvetica, sans-serif;
    /*Puedes cambiar todo eso con css*/
}
h1 {
    color:rgba(193, 182, 24, 0.765);
    padding: 20px 10px 20px 10px; /*20px 10px= 20px 10px 20px 10px*/
}